.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 5em;
    border-style: solid;
    color: black;
    flex-direction: row;
    text-shadow: blue 3px;
    margin: 3px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
div {
    text-align: center;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: large;
}
button {
    height: 4em;
    width: 8em;
    font-size: 30px;
    color: blue;
}


